@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'LAB디지털';
    box-sizing: border-box;
    background-color: #FFC0CB;
}
.wrapper{
    width:80%;
    min-width: 320px;
    max-width: 640px;
    margin: 10px auto;
    padding: 5px 0 15px;
    text-align: center;
    border: 1px solid white;
    border-radius: 16px;
    margin-top: 30px;
}
h2{
    color: #DB7093;
}
button{
    color: #3c3c3c;
    background-color: #FFCFDA;
    font-size: 16px;
    padding: 6px;
    width: 100px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}